<div class="row">
    {{#this}}
    <div class="col">
        <a href="#/events/{{id}}">
            <img class="rounded" <img src="https://picsum.photos/300/300/?random&giud=@({{id}})" class="img-responsive">
        </a>
        <h1>{{title}}</h1>
        <p>Date: {{date}}</p>
        <p>City: {{city}}</p>
        <p>Category: {{category}}</p>
    </div>
    {{/this}}
</div>