<div class="jumbotron"> ​
    <picture>
        <img class="rounded" <img src="https://picsum.photos/600/300/?random&giud=@({{id}})" class="img-responsive">
    </picture>
    <h1>{{title}}</h1>
    <h6>Date: {{date}}</h6>
    <h6>City: {{city}}</h6>
    <h6>Category: {{category}}</h6>
    <p>Description: {{description}}</p>
</div>